body {
  text-align: center;
}

#navbar-right {
	margin-right: 15px;
}

#navbar-left {
	margin-right: 15px;
}

#login-modal {
	color: black;
	width: 400px;
	height: 400px;
}

div#user-login-field.input-field {
	margin: 20px;
}

#login-modal-row {
	margin: 10px;
}

.nav-wrapper{
	background-color:#ff1a1a;
}

li{
	display:inline-block;
	text-align:center;
}

#loginerrorcard {
	justify-content: center;
}

#hero-section {
	background-image: url("http://d3n8a8pro7vhmx.cloudfront.net/fairvote/pages/5187/meta_images/original/Obama_Health_Care_Speech_to_Joint_Session_of_Congress.jpg?1489615008");
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
}

#hero-overlay {
	position: absolute;
	top: 0;
	height: 60%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

#hero-text {
	color: white;
	position: relative;
	z-index: 10;
	text-align: center;
	vertical-align: middle;
	top: 40%;
}
